body {
    margin: 0;
    padding: 0;
}
/*header-menu navi*/

header * {
    display: inline-block;
    vertical-align: middle;
}

header {
    background: #0a0909;;
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: solid 7px #5fa199;
    overflow: hidden;
}

header a {
    width: 20vw;
    text-align: center;
    vertical-align: middle;
}

header a img {
    width: 180px; 
    filter: drop-shadow(0 0 5px #ffffff94);
}

header a img:hover {
    width: 180px; 
    filter: drop-shadow(0 0 5px #990e0ec9);
}

header h1 {
    width: 60vw;
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    -webkit-text-stroke: 0.2px #990e0e;
    text-align: center;
    filter: drop-shadow(0 0 5px #ffffff94);
    margin-top: -10px;
}

header nav {
        width: 62vw;
        margin: -4vw 20vw 2vw;
        text-align: center;
    }

header nav a {
    display: inline;
    font-size: 23px;
    font-family: 'Bebas Neue', sans-serif;
    color: #990e0e;
    text-decoration: none;
    padding: 0 30px;
}

header nav a:hover{
    color: #fff;
    text-decoration: underline;
    filter: drop-shadow(0 0 5px #ffffff94);
}

/*header style final*/



/*main style*/

main * {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

main{
    padding: 1vw 0;
    background: #0a0909;
}

.img {
    width: 42%;
}

.img img {
    width: 100%;
    border-radius: 0 25px 25px 0;
}

.m-content * {
    overflow: hidden;
}
.m-content h2, .mc-content h2 {
    display: block;
    font-size: 2.5em;
    font-family: 'Bebas Neue';
    margin: 0;
    color: #990e0e;
    padding: 20px 0 0 40px;
    margin-bottom: 0;
}

.mc-content p {
    color: #fff;
    padding: 0px 0 0 9%;
    margin-right: 27%;
    margin-bottom: 0;
}

.m-c-about{

        width: 70%;
}

.m-c-about p, .m-c-about section {
    width: 80%;
    margin-bottom: 20px;

}
.m-content {
    width: 57vw;
}

section * {
    display: block;
}

section, .m-c-content p{
    width: 90%;
    margin-left: 3vw;
    margin-bottom: 20px;
}

section h3 {
    font-size: 1.5em;
    font-family: 'Bebas Neue';
    margin-bottom: 0px;
    color: #f8e12e;
}

section p {
    color: #fff;
    padding: 0 0 2% 2%;
    border-bottom: solid 1px white;
    margin-right: 45%;
    
}


/*body style final*/





/*footer style*/
footer * {
    display: inline-block;
    vertical-align: middle;
}
footer{
    background: #5fa199;
    border-top: solid 5px #990e0e;
}

footer .f-logo{
    width: 20vw;
}

footer .f-logo a{
    text-align: center;
}

.f-logo img{
    width: 50%;
    filter: drop-shadow(0 0 5px red);
}

.f-tittle {
    width: 57vw;
    text-align: center;
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    -webkit-text-stroke: 0.2px #990e0e;
}
.f-nav {
    width: 20vw;
}
.f-nav h2{
    text-align: left;
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.2em;
    -webkit-text-stroke: 0.2px #990e0e;
    margin: 60px 0 17px;
}
.f-nav a{
    display: block;
    margin: 1px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #990e0e;
}


.f-nav a:hover, .f-social a:hover{
    text-decoration: underline;
    font-size: 24px;
}

.f-social {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.f-social a {
    padding: 0 3%;
    margin: 0;
    font-size: 20px;
    color: #990e0e;
    font-weight: bold;
    text-decoration: none;
}

.f-copy {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}