body {
    margin: 0;
    padding: 0;
}
/*header-menu navi*/

header * {
    display: inline-block;
    vertical-align: middle;
    margin: -1vw 0px;
}

  header {
    background-image: url(../assets/img/design1_image2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    position: relative;
}

header a {
    position: relative;
    transform: translate(80vw, 42vh);
    z-index: 99;
}

header h1{
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5em;
    -webkit-text-stroke: 0.2px #990e0e;
    font-weight: bold;
}

header img {
    width: 10vw;
    filter: drop-shadow(0 0 5px #0a0909);
}

header nav {
    position: fixed;
    left: -78vw;
    top: 16%;
}
  
header nav a {
    display: block;
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #5fa199;
}

header nav a:hover {
    background: #5fa199;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
 
}


/*header style final*/

/*main style*/

main *{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

main {

    margin-left: 10vw;
    padding-top: 6vw;
    border-left: solid 2px #585757;
    padding-bottom: 2vw;
}

.img {
    width: 22vw;
    margin-left: 1.9vw;
}
.img img{
    width: 100%;
    filter: drop-shadow(0 0 5px #0a0909);
}

main h2 {
    position: absolute;
    transform: translate(-35vw, -14vw);
    display: block;
    width: 100vw;
    text-align: center;
    color: white;
    background: #211915;
    padding: 20px 0;
}


.m-c-about h2 {
    position: absolute;
    transform: translate(-35vw, -7vw);
    display: block;
    width: 100vw;
    text-align: center;
    color: white;
    background: #211915;
    padding: 20px 0;
}

.m-content h2{
    position: absolute;
    transform: translate(-35vw, -7vw);
    display: block;
    width: 100vw;
    text-align: center;
    color: white;
    background: #211915;
    padding: 20px 0;
}

h2.main-content {
    transform: translate(-35vw, -7vw);
}

.m-c-about{

        width: 70%;
}

.m-c-about p, .m-c-about section {
    width: 80%;
    margin-bottom: 20px;

}

section * {
    display: block;
}

section, .m-content p, main p{
    width: 90%;
    margin-left: 3vw;
    margin-bottom: 20px;
}

.m-content{
    width: 70%;
}

section h3 {
    font-size: 1.5em;
    font-family: 'Bebas Neue';
    margin-bottom: 0px;
    color: #0a0909;
    margin-bottom: 10px;
}

section p {
    color: #990e0e;
    padding: 0 0 2% 2%;
    border-bottom: solid 1px #0a0909;
    
}

/*body style final*/





/*footer style*/
footer * {
    display: inline-block;
    vertical-align: middle;
}
footer{
    background: #5fa199;
    border-top: solid 5px #990e0e;
    position: relative;
    z-index: 9999;
}

footer .f-logo{
    width: 20vw;
}

footer .f-logo a{
    text-align: center;
}

.f-logo img{
    width: 50%;
}

.f-tittle {
    width: 57vw;
    text-align: center;
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    -webkit-text-stroke: 0.2px #990e0e;
}
.f-nav {
    width: 20vw;
}
.f-nav h2{
    text-align: left;
    color: #f8e12e;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.2em;
    -webkit-text-stroke: 0.2px #990e0e;
    margin: 60px 0 17px;
}
.f-nav a{
    display: block;
    margin: 1px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #990e0e;
}

.f-nav a:hover{
    text-decoration: underline;
}

.f-social {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.f-social a {
    margin: 0 20px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.f-copy {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}