body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background:#0a0909;
}
header, footer{
  display: flex;
  flex-shrink: 0;
  width: 100%;
}
main{
  flex-shrink: 1;
  display: flex;
  /*padding: 2% 0;*/
  flex-wrap: wrap;
}
/*header-menu*/



header{
  border-bottom: solid 10px #5fa199;
}

.h-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.h-logo img{
  object-fit: contain;
  filter: drop-shadow(0 0 5px  #990e0e);
  width: 180px;
}

.h-logo img:hover{
  filter: drop-shadow(0 0 5px  #ffffff);
}

.h-nav {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.h-nav h1 {
  color: #f8e12e;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4em;
  margin-top: -3%;
  -webkit-text-stroke: 0.2px #990e0e;

}

.h-nav nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.h-nav  a {
  text-decoration: none;
}

.h-nav nav a {
  font-size: 23px;
  font-family: 'Bebas Neue', sans-serif;
  color: #990e0e;
  text-decoration: none;
}

.h-nav nav a:hover, .n-form a:hover {
  position: relative;
  transform: scale(1.2);
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #ff0000;
}

.active{
  color: #fff!important;
  text-decoration: underline!important;
  text-decoration-color: #ff0000!important;
  transform: scale(1.2);
}

.h-social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  width: 25%;
  padding-top: 2%;
}

.h-social svg {
  width: 23px;
  padding: 10%;
  fill:#5fa199;
}

.h-social svg:hover {
  fill:#f8e12e;
}

.h-social svg.face {
  width: 16px;
}

.n-form{
  width: 100%;
  text-align: center;
} 

.n-form a {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  text-decoration: none;
}

.n-form a:hover{
  color: #f8e12e;
  text-decoration: underline;
  text-decoration-color: #ff0000;
  transform: scale(1.2)!important;
}

/*header style final*/
/*main style*/

.m-banner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 30vh;
  align-content: center;
  justify-content: center;
  background-image: url(../assets/img/design1_image2.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 2%;
}
.m-banner h2{
  color: #f8e12e;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  -webkit-text-stroke: 0.2px #990e0e;
}

.m-img {
  width: 42%;
  object-fit: cover;
}
.m-img img{
  width: 100%;
  border-radius: 0 5% 5% 0;
}

.m-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54%;
  padding-left: 2%;
}

.m-c-content p{
color: #fff;
font-size: 1.3rem;
  
}
section h3 {
  font-size: 1.5em;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  color: #f8e12e;
}

section p {
  color: #fff;
  padding: 0 0 2% 2%;
  border-bottom: solid 1px white;
  font-size: 1rem;

}

.rules, .game {
  width: 100%;
  padding: 0 15%;
}

.rules >h1, h2, h3 {
  text-align: center;
  color: #fff;

}

.rules h2 {
  margin: 5% 0;
}

li{
  color: #fff;
}

.rules article {
margin: 10vh 0;
}

.rules p {
  border: none;
  text-align: left;
  padding: 0;
font-size: 1.2rem;
}

.rules h3 {
flex-shrink: 0;
color: #fff;
}

ul li{
  list-style: circle;
  margin-left: 1vw;
}

.rules section> h2, h3, p {
  text-align: start;
  font-family: 'Times New Roman', Times, serif!important;
}

.rules ol {
  margin-top: 3vh;
}

.game label {
  color: #fff;
  text-decoration: underline;
  font-size: 18px;
  height: 40px;
  border: solid 2px;
  text-align: center;
  padding: 2px 8px;
}
/*maps toggle*/
.maps {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6vh 0;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
iframe{
  width: 100%;
}

/*AJ Map*/
#toggleMapa1 {
  display: none;
}

#aj-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa1:checked ~ #aj-frame {
  display: block;
}

#toggleMapa1:checked ~ #aj-frame,
#toggleMapa1:checked ~ label {
  border: none;
  text-decoration: none;
}

/*Greenbay Map*/
#toggleMapa2 {
  display: none;
}

#green-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa2:checked ~ #green-frame {
  display: block;
}

#toggleMapa2:checked ~ #green-frame,
#toggleMapa2:checked ~ label {
  border: none;
  text-decoration: none;
}

/*Hat Map*/
#toggleMapa3 {
  display: none;
}

#hat-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa3:checked ~ #hat-frame {
  display: block;
  
}

#toggleMapa3:checked ~ #hat-frame,
#toggleMapa3:checked ~ label {
  border: none;
  text-decoration: none;
}

/*howard Map*/
#toggleMapa4 {
  display: none;
}

#howard-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa4:checked ~ #howard-frame {
  display: block; 
}

#toggleMapa4:checked ~ #howard-frame,
#toggleMapa4:checked ~ label {
  border: none;
  text-decoration: none;
}

/*north Map*/
#toggleMapa5 {
  display: none;
}

#north-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa5:checked ~ #north-frame {
  display: block;
}

#toggleMapa5:checked ~ #north-frame,
#toggleMapa5:checked ~ label {
  border: none;
  text-decoration: none;
}

/*south Map*/
#toggleMapa6 {
  display: none;
}

#south-frame {
  display: none;
  width: 100%;
  margin-top: 20px;
}

#toggleMapa6:checked ~ #south-frame {
  display: block;
  
}

#toggleMapa6:checked ~ #south-frame,
#toggleMapa6:checked ~ label {
  border: none;
  text-decoration: none;
}

/*maps*/
.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.game > h2, h3,dt{
  text-align: start;
  color: #fff;
  width: 100%;
}
dt{
  font-size: 1.5rem;
  padding-bottom: 20px;
}
dd{
  color: #fff;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th {
  color: #990e0e;
  background: #5fa199;
  padding: 10px 0;
  font-size: 1.1rem;

}


th{
  border: solid 3px #fff;
}

.b-top{
  border-top: solid 3px #fff;
}

.b-bottom{
  border-bottom: solid 3px #fff;
}

td {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-right: solid 3px #fff;
  border-left: solid 3px #fff;
}

.r-border{
  border: solid 3px #fff;
}

dd{
  font-size: 1.2rem;
}

.g-info {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 100%;
  margin: 13vh 0;
}
.g-info b, .g-info-c a {
  color: #fff;
font-size: 1.2rem;
}
.g-info p {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.g-info div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.g-info-c {
  display: flex;
  justify-content: space-between;
}

.m-form{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5vh 0;
}
.form-body {
  width: 70%;
}

form {
  background: #fff;
  padding: 8vh 2vw;
  border-radius: 25px;
  text-align: center;
}

.form-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 3px 10px #00000054;
}
.col-50 {
  width: 46%;
  margin: 3vh 0;
}
.col-100{
  width: 100%!important;
  font-size: 16px;
  border: solid #000;
  border-width: 0 0 1px 0;
}

legend {
  color: black;
  font-size: 1.17rem;
  font-weight: bold;
  text-align: start;
}

::placeholder{
  color: #000;
}

div.col-50 {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  height: 50px;
  margin: 10px;
  border: none;
}

.form-s {
  width: 46%;
  display: flex;
  align-items: center;
  border: solid #000;
  border-width: 0 0 1px 0;
}

.form-s .col-50 {
  margin: 10px;
}

fieldset.form-s {
  border-width: 0 0 1px 0;
  padding: 0;
  height: 60px;
  border: none;
  justify-content: center;
}

form h2, form h3 {
color: #000;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 3vw;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 15px;
}

input[type="text"] {
  font-size: 16px;
  border: solid #000;
  border-width: 0 0 1px 0;
}

fieldset.form-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: end;
  gap: 0;
  padding: 10px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 3px 10px #00000054;
  margin-bottom: 40px;
}

fieldset.form-f.col-100 {
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
}

fieldset p{
  padding: 10px;
}

input#signature {
  margin-right: 50px;
  width: 45%;
}

input[type="submit"] {
  width: 20%;
  font-size: 20px;
  padding: 9px;
}

/*body style final*/

/*footer style*/

footer{
  flex-wrap: wrap;
  border-top: solid 10px #990e0e;
  background: #5fa199;
  margin-top: 2%;
}

.f-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.f-logo img{
  filter: drop-shadow(0 0 5px  #990e0e);
  width: 160px;
}
.f-logo img:hover{
  filter: drop-shadow(0 0 5px  #f8e12e);
}

.f-tittle {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.f-tittle h1{
  color: #f8e12e;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  -webkit-text-stroke: 0.2px #990e0e;
}

.f-social {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: center;
}

.f-social a {
  font-size: 20px;
  color: #990e0e;
  font-weight: bold;
  text-decoration: none;
}

.f-social a:hover {
  position: relative;
  transform: scale(1.2);

}

.f-nav{
  width: 25%;
}
.f-nav h2{
  font-size: 2rem;
  font-family: 'Bebas Neue';
  margin-bottom: 0px;
  color: #f8e12e;
  -webkit-text-stroke: 0.2px #990e0e;
  text-align: start;
}

.f-nav nav {
  display: flex;
  flex-direction: column;
}

.f-nav nav a{
  padding-left: 3%;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  color: #990e0e;
  text-decoration: none;
}

.f-nav nav a:hover{
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  color: #f8e12e;
  text-decoration: underline;
  text-decoration-color: #ff0000
}


.f-copy {
  display: block;
  text-align: center;
  width: 100%;
  background: #0a0909;
  color: #fff;
  padding: 10px;
  margin-top: 4vh;
}